body {
  /* background-color: #2f3033; */
  background-color: #3c8348;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-image: url(https://i.imgur.com/I73OWYX.jpg);
  background-size: cover;
  text-align: center;
  margin: 0px 10px;
  min-height: 100%;
  height: 100%;

}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px #000000;
}

.status {
  font-size: 1.5em;
}

.card-container {
  height: 198.3px;
  width: 130px;
  margin: 6px;
  /* border: 1px red solid; */

}
.card {
  /* height: 168px; */
  height: 183px;
  width: 120px;
  position: relative;
  top: calc((198.3px - 183px)/2);
  left: calc((130px - 120px)/2);

  color: black;
  font-size: 30px;
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  border-radius: 7px;
  box-shadow: 1px 1px 4px #000000;
  transition: height 0.2s, width 0.2s;
  transition: top 0.2s, left 0.2s;
  transition: box-shadow 0.2s;
  transition: font-size 0.2s;
}

.card.unmatched {
}

.card.selected {
}

.card.matched {
  background-color: gray;
}

.card.unmatched:hover, .card.selected{
  height: 190.6px;
  width: 125px;
  left: 0px;
  top: 0px;
  box-shadow: 5px 5px 16px #2d2d2d;
  cursor: pointer;
}

.board-row {
  display: flex;
  /* border: 1px blue solid; */
}

.board {
  display: flex;
  height: calc(182px * 3 + 100px);
  width: calc(130px * 6 + 50px);
  border-radius: 5px;
  justify-content: space-evenly;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px auto;
  /* border: gray 3px solid; */
}

.reset-container {
  position:absolute;
  bottom: 0px;
  right: 0px;
  height: 80px;
  width: 60%;
  overflow: hidden;

}

.reset {
  position: absolute;
  left: 40%;
  top: 40px;
  width: 140px;
  height: 180px;
  margin: 5px;

  font-size: 20px;

  border: none;
  border-radius: 7px;
  background-color: none;
  background-image: url(cards/card_back_blue.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 7px;
  box-shadow: 1px 1px 10px black, 3px 3px 10px black;
  filter: brightness(90%);

  transition: top 0.3s;
}

.reset:hover {
  top: 0px;
}

.reset-text {
  position: absolute;
  top: 5px;
  left: 0px;
  text-align: center;
  width: 100%;

  color: white;
  text-shadow: 2px 2px 13px black;
}

#root {
  width:100%;
  height:100%;
}
